@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-basic {
  background-color: #E2D3FF;
}

.color-basic {
    color: #E2D3FF;
}

.bg-medium {
    background-color: #D2F5CE;
}

.bg-epic {
    background-color: #C5CEFF;
}